# Client (Expo)
EXPO_PUBLIC_AI_API_KEY=your_ai_api_key
EXPO_PUBLIC_AI_PROVIDER=google
EXPO_PUBLIC_AI_MODEL_NAME=gemini-2.5-pro
EXPO_PUBLIC_AI_BASE_URL=

# Server (Next.js)
AI_API_KEY=your_ai_api_key
AI_MODEL_NAME=gemini-2.5-pro
AI_BASE_URL=
